      <div
        class="modal fade"
        id="editAdmin"
        tabindex="-1"
        aria-labelledby="Edit Admin"
        aria-hidden="true"
      >
        <div class="modal-dialog  modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h3 class="modal-title fs-4 " id="exampleModalLabel">Edit Admin</h3>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body scroll-modal ">
              <form action=".">
                <div class="mb-4 pb-4 border-bottom">
                  <h4 class="fs-4">Account</h4>
                  <div class="mb-3"><label for="add-name">Name</label><input id="add-name" type="text" class="form-control"></div>
                  <div class=""><label for="add-mail">Email</label><input id="add-mail" type="text" class="form-control"></div>
                </div>
                <div class="mb-4 pb-4 border-bottom">
                  <h4 class="fs-4 mb-3">Verification</h4>
                  <div class="mb-3 d-flex align-items-center ">
                    <span class="material-icons text-success me-3">check_circle</span>                    
                    <p>Unverified</p>
                  </div>
                  <button class="btn btn-outline-secondary-dark text-dark disabled w-100 py-3" role="button" aria-disabled="true">Send Verification Mail</button>
                </div>
                <div class="mb-4 pb-4 border-bottom">
                  <h4 class="fs-4 mb-3">Access Level</h4>
                  <select class="form-select form-select-sm p-3 " aria-label="Admin">
                    <option selected>Open this select menu</option>
                    <option value="1">Admin</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="mb-4 pb-4 border-bottom">
                  <h4 class="fs-4 mb-3">Custom Access</h4>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="add-checkbox-1"><label for="add-checkbox-1" class="form-check-label">Lecture</label></div>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="add-checkbox-2"><label for="add-checkbox-2" class="form-check-label">Coupon</label></div>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="add-checkbox-3"><label for="add-checkbox-3" class="form-check-label">Message</label></div>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="add-checkbox-4"><label for="add-checkbox-4" class="form-check-label">Setting</label></div>
                  <div class="form-check"><input type="checkbox" class="form-check-input" id="add-checkbox-5"><label for="add-checkbox-5" class="form-check-label">Task Menu</label></div>
                </div>
              </form>
              <div class="pb-3">
                <div>
                  <h4 class="fs-4 mb-3">Deactivate Account</h4>
                  <div class="d-flex align-items-center mb-3">
                    <p class="material-icons text-danger me-2">warning</p>
                    <p>Unverified</p>                    
                  </div>
                  <button class="btn btn-outline-danger text-danger w-100 py-3" role="button" aria-disabled="true">Deactivate This Account</button>                                
                </div>
              </div>
            </div>
            <div class="modal-footer pt-0 border-0 ">
              <button
                type="button"
                class="btn btn-outline-success"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-success ">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>