<div class="bg-color">
  <footer class="container">
    <div class="footer-content d-flex justify-content-between pt-6 pb-4 pt-sm-3 pb-sm-3 mb-sm-2">
      <div class="footer-left">
        <ul class="sub-menu d-flex mb-3">
          <li class="mr-6"><a class="pt-1 pb-1" href="./index.html">首頁</a></li>
          <li class="mr-6"><a class="pt-1 pb-1" href="./category.html">系列鏡框</a></li>
          <li class="mr-6"><a class="pt-1 pb-1" href="./location.html">門市據點</a></li>
          <li class="mr-6"><a class="pt-1 pb-1" href="./blog.html">部落格</a></li>
          <li class="mr-0"><a class="pt-1 pb-1" href="./faq.html">常見問題</a></li>
        </ul>
        <ul class="contactus">
          <li class="mb-1">
            <a href="#" class="contactus-list d-flex">
              <span class="material-symbols-outlined phone-icon mr-2">
              call
              </span>
              <p>0800-000-000</p>
            </a>
          </li>
          <li>
            <a href="#" class="contactus-list d-flex ">
              <span class="material-symbols-outlined email-icon mr-2">
                mail
              </span>
              <p>glasses@business.com</p>
            </a>
          </li>
        </ul>
      </div>
      <ul class="socialicon d-flex">
        <li class="mr-4 mr-sm-1">
          <a href="#"><img src="../assets/images/ic-social-fb.png" alt="ic-social-fb"></a>
        </li>
        <li class="mr-4 mr-sm-1">
          <a href="#"><img src="../assets/images/ic_social_ig.png" alt="ic-social-ig"></a>
        </li>
        <li class="mr-0">
          <a href="#"><img src="../assets/images/ic_social_line.png" alt="ic_social_line"></a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom d-flex justify-content-between flex-wrap d-sm-block pb-sm-3">
      <p class="mb-sm-1">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="privacy d-flex pt-4 pb-4 pt-sm-0 pb-sm-0">
        <li class="mr-6 mb-sm-1"><a href="#">隱私權政策</a></li>
        <li class="mr-sm-0 mb-sm-1"><a href="#">服務條款</a></li>
      </ul>
    </div>
  </footer>
</div>