  <nav class="nav flex-column p-2 bg-light sidebar w-25 ">
    <a href="#" class="nav-link"><img src="/assets/images/logo-ANSWER.svg" alt=""></a>
    <div class="flex-grow-1 ">
      <a href="#" class="nav-link d-flex align-items-center link-dark">
        <span class="material-icons me-3">
      assessment
        </span>
        <span>Dashboard</span>
      </a>
      <a href="#" class="nav-link d-flex align-items-center link-dark active">
        <span class="material-icons me-3">
        forum
        </span>
        <span>Question</span>
      </a>
      <a href="./index.html" class="nav-link d-flex align-items-center link-dark">
        <span class="material-icons me-3">
        assignment
        </span>
        <span>Assignment</span>
      </a>
      <a href="#" class="nav-link d-flex align-items-center link-dark">
        <span class="material-icons me-3">
        video_library
        </span>
        <span>Curse</span>
      </a>
      <a href="./form.html" class="nav-link d-flex align-items-center link-dark">
        <span class="material-icons me-3">
        group
        </span>
        <span>Admin</span>
      </a>
      <a href="#" class="nav-link d-flex align-items-center link-dark">
        <span class="material-icons me-3">
          settings
          </span>
        <span>Setting</span>
      </a>
    </div>
    <div class="d-flex px-3 py-2 align-items-center">
      <div class="flex-shink-0">
        <img class="avatar" src="/assets/images/andychen.jpeg" alt="Avatar">
      </div>
      <div class="flex-grow-1 ms-3">
        <p class="fw-bold">Andy Chen</p>
        <p class="">andy0401@mail.com</p>
      </div>
    </div>
  </nav>