.footer-content {
  border-bottom: 1px solid $text-color;
}

.sub-menu {
  @include mobile() {
    display: none;
  }
}

.sub-menu li {
  a {
    display: block;
    padding: 12px 0;
    color: #fff;
  }
}

.contactus {
  li {
    span {
      @include mobile() {
        margin-right: 10px;
      }
    }
  }

}

.phone-icon,
.email-icon {
  font-size: 3rem;
  color: $text-color;
}

@include mobile() {
  .phone-icon {
    font-size: 1.125rem;
  }

  .email-icon {
    font-size: 1rem;
  }
}


.contactus-list {
  align-items: center;

  p {
    font-size: 2.25rem;
    color: $text-color;

    @include mobile() {
      font-size: 1rem;
    }
  }
}

.socialicon {
  display: flex;
  img {
    width: 48px;
    height: 48px;

    @include pad() {
      width: 40px;
      height: 40px;
    }

    @include mobile() {
      width: 24px;
      height: 24px;
    }
  }
}


.footer-bottom {
  align-items: center;
  color: $text-color;
  p{
    font-size: 0.875rem;
    @include mobile(){
    }
  }
}
.privacy {
  display: flex;
  @include mobile(){
    display: block;
    padding: 0;
  }
  li{
    a {
      color: $text-color;
      font-size: 0.875rem;
    }
  }
}