header {
  align-items: center;
  padding-bottom: 15.43px;

  & h1 {
    @include mobile() {
      padding-left: 15px;
      padding-bottom: 15.43px;
      align-self: flex-start;
    }
  }
}

.bg-color {
  background-color: $bg-color;
}

.logo {
  width: 80px;
  height: 48.57px;
}

.menu {
  @include mobile() {
    width: 100%;
    border-right: 1px solid $text-color;
  }
}

.menu {
  color: $text-color;

  li {
    @include mobile() {
      width: 50%;
      margin: 0 auto;
      border-bottom: 1px solid $text-color;
      border-top: 1px solid $text-color;
      border-left: 1px solid $text-color;
    }

    a {
      font-size: 1.25rem;
      color: $text-color;

      @include mobile() {
        font-size: 1rem;
        padding: 12px 0;
      }
    }
  }
}