<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <%- include('./layout/layout'); -%>
  </head>
  <body>
    <div class="d-flex">
      <%- include('./layout/sidebar'); -%>
      <main class="container-fluid">
        <div class="row mx-3 mb-3 mt-5 px-3">
          <nav class="navbar navbar-light justify-content-start">
            <ul
              class="flex-grow-1 d-flex justify-content-between align-items-center"
            >
              <li class="nav-item d-flex align-items-center gap-5">
                <h1 class="fs-4">Admin</h1>
                <button
                  class="btn d-flex text-dark fs-6 lh-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#newAdmin"
                >
                  <p class="material-icons me-2 fs-6 lh-sm text-success">add</p>
                  Add New Admin
                </button>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a href="" class="nav-link">
                  <span class="material-icons text-dark"> search </span>
                </a>
                <a href="#" class="nav-link px-0"
                  ><span class="material-icons text-dark">
                    notifications
                  </span></a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="row mx-3 mb-4 px-3">
          <table class="table table-hover">
            <thead class="table-light">
              <tr class="border-bottom border-dark">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Verified</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-bottom">
                <th scope="row">#1</th>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span
                      class="material-icons text-dark me-4 pointers"
                      data-bs-toggle="modal"
                      data-bs-target="#editAdmin"
                      >edit
                    </span>
                    <span
                      class="material-icons pointers"
                      data-bs-toggle="modal"
                      data-bs-target="#userInfoModal"
                      >visibility
                    </span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th scope="row">#2</th>
                <td>Zaina Goldsmith</td>
                <td>zaina.goldsmith@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#3</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#4</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#5</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#6</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#7</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#8</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#9</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
              <tr class="border-bottom">
                <th>#10</th>
                <td>Mahima Lopez</td>
                <td>mahima.lopez@mail.com@mail.com</td>
                <td class="d-flex justify-content-between">
                  Yse
                  <div>
                    <span class="material-icons text-dark me-4">edit</span>
                    <span class="material-icons">visibility</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Form navigation" class="mt-6">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                  <p class="material-icons fs-6 text-success">
                    navigate_before
                  </p>
                </a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link text-success">1</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link text-success">2</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link text-success">3</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                  <span class="material-icons fs-6 text-success"
                    >navigate_next</span
                  >
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </main>
    </div>
    <%- include('./layout/addModal'); -%> <%- include('./layout/editModal'); -%>
    <%- include('./layout/userInfoModal'); -%> <%-
    include('./layout/layout_script'); -%>
  </body>
</html>
