<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANSWER</title>
    <%- include('./layout/layout'); -%>
  </head>
  <body>
    <div class="d-flex">
      <%- include('./layout/sidebar'); -%>
      <main class="container-fluid">
        <div class="row mx-3 mb-3 mt-5 px-3">
          <nav class="navbar navbar-light justify-content-start">
            <ul
              class="flex-grow-1 d-flex justify-content-between align-items-center"
            >
              <li class="nav-item d-flex align-items-center gap-5">
                <h1 class="fs-4">Assignment</h1>
                <div class="dropdown">
                  <button
                    class="btn border-0 dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    All Courses
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a href="" class="nav-link">
                  <span class="material-icons text-dark"> search </span>
                </a>
                <a href="#" class="nav-link px-0"
                  ><span class="material-icons text-dark">
                    notifications
                  </span></a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="row pt-3 mx-3">
          <div>
            All (4)
            <a
              href="#"
              class="btn"
              data-bs-toggle="collapse"
              data-bs-target="#collapseListGroup"
              aria-expanded="true"
            >
              <span class="material-symbols-outlined text-success">
                expand_more
              </span>
            </a>
          </div>
          <div class="col-5">
            <div class="collapse show" id="collapseListGroup">
              <ul class="list-group">
                <li class="list-group-item">
                  <div
                    class="d-flex justify-content-between align-items-center sup-text lh-base"
                  >
                    <p>Chapter Assignment 2</p>
                    <p>4 hrs ago</p>
                  </div>
                  <div
                    class="lh-base d-flex justify-content-between align-items-center lh-base"
                  >
                    <p class="fw-bold">Please check this file…</p>
                    <p class="sup-text">Emily Wang</p>
                  </div>
                </li>
                <li class="list-group-item">
                  <div
                    class="d-flex justify-content-between align-items-center sup-text lh-base"
                  >
                    <p>Chapter Assignment 1</p>
                    <p>12 hrs ago</p>
                  </div>
                  <div
                    class="lh-base d-flex justify-content-between align-items-center lh-base"
                  >
                    <p class="fw-bold">My Homework</p>
                    <p class="sup-text">David Xu</p>
                  </div>
                </li>
                <li class="list-group-item">
                  <div
                    class="d-flex justify-content-between align-items-center sup-text lh-base"
                  >
                    <p>Final Assignment</p>
                    <p>18 hrs ago</p>
                  </div>
                  <div
                    class="lh-base d-flex justify-content-between align-items-center lh-base"
                  >
                    <p class="fw-bold">Have a problem with this…</p>
                    <p class="sup-text">Tony Wei</p>
                  </div>
                </li>
                <li class="list-group-item">
                  <div
                    class="d-flex justify-content-between align-items-center sup-text lh-base"
                  >
                    <p>Final Assignment</p>
                    <p>19 hrs ago</p>
                  </div>
                  <div
                    class="lh-base d-flex justify-content-between align-items-center lh-base"
                  >
                    <p class="fw-bold">Did I do it right?</p>
                    <p class="sup-text">Christina Lin</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-7 mb-3 position-relative">
            <div class="card mb-3">
              <div
                class="card-header d-flex justify-content-between align-items-center"
              >
                <div>
                  <p class="sup-text">Chapter Assignment 2 / HTML&CSS</p>
                  <h3 class="fw-bold">
                    Please check this file for me, thanks!
                  </h3>
                </div>
                <p class="material-icons">more_vert</p>
              </div>
              <div class="card-body">
                <div class="d-flex mb-3">
                  <img
                    class="avatar me-2"
                    src="/assets/images/emilywang.jpeg"
                    alt=""
                  />
                  <div>
                    <p class="fw-bold">Emily Wang</p>
                    <p class="sup-text text-muted">10:38 AM (4 hours ago)</p>
                  </div>
                </div>
                <div class="article ms-5 me-4 pb-3 border-bottom">
                  <p class="mb-3">
                    Hi Teacher, the attached file is my homework of chapter 2.
                    And here comes a question: Why in the following code the
                    height of the <code class="text-success">div</code> is
                    bigger than the height of the
                    <code class="text-success">img</code> ? There is a gap below
                    the image, but it doesn’t seems to be a padding/margin. What
                    is the gap or extra space below image?
                  </p>
                  <a
                    class="col-4 px-1 py-3 btn border d-flex justify-content-center"
                    href="#"
                    download="HW-2-David.zip"
                  >
                    <span class="material-icons"> attach_file </span
                    >HW-2-David.zip</a
                  >
                </div>
              </div>

              <div class="card-body pt-0">
                <div class="d-flex mb-3">
                  <img
                    class="avatar me-2"
                    src="/assets/images/andychen.jpeg"
                    alt=""
                  />
                  <div class="flex-grow-1 me-3">
                    <div class="d-flex justify-content-between">
                      <p class="fw-bold">Andy Chen (You)</p>
                      <div>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-icons ms-3">edit</span>
                      </div>
                    </div>
                    <p class="sup-text text-muted">13:24 AM (1 hours ago)</p>
                  </div>
                </div>
                <div class="article ms-5 me-4 mb-3">
                  <p>
                    Hi David, by default, an image is rendered inline, like a
                    letter so it sits on the same line that a, b, c and d sit
                    on. There is space below that line for the descenders you
                    find on letters like g, j, p and q. <br /><br />You can:
                    　<br /><br />&nbsp;&nbsp;•adjust the
                    <code class="text-success ms-1 me-3">vertical-align</code>
                    of the image to position it elsewhere <br />(e.g. the
                    <code class="text-success ms-1 me-3">middle</code> ) or<br />&nbsp;&nbsp;•
                    change the
                    <code class="text-success ms-1 me-3">display</code> so it
                    isn’t inline.
                  </p>
                </div>
              </div>
            </div>
            <div class="ms-auto d-flex justify-content-between">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn me-3">
                  <span class="material-symbols-outlined"> chevron_left </span>
                </button>
                <button type="button" class="btn">
                  <span class="material-symbols-outlined"> chevron_right </span>
                </button>
              </div>
              <div class="btn-group" role="group" aria-label="cancel">
                <button type="button" class="btn btn-outline-success me-3 px-5">
                  Mark as read
                </button>
                <button
                  type="button"
                  class="btn btn-success px-5"
                  id="collapseTextarea_controll_1"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTextarea"
                  aria-expanded="false"
                  aria-controls="Textarea"
                >
                  Reply
                </button>
              </div>
            </div>
            <%- include('./layout/textArea'); -%>
          </div>
        </div>
      </main>
    </div>
    <%- include('./layout/layout_script'); -%>
  </body>
</html>
